@import url(./defaults.css);

.styles li {
  font-size: 30px;
}
table, th, td {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
  max-width: 95vw;
}
th, td {
  padding: 5px;
}
tr:nth-child(odd) {
  background-color: #8d8deba0;
}
