html, body {
    margin: 0;
    font-family: "Tangerine";
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    justify-content: center;
}

article {
    flex: 1;
    margin: auto;
    width: 100vw;
    text-align: center;
    background-size:cover;
    background-position: center;
}

nav {
    background: linear-gradient(to bottom, var(--mid-light-blue), var(--light-blue));
    position: sticky;
    top: 0;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: var(--dark-blue);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    background-color: var(--mid-blue);
    color: white;
    transition: 0.2s ease;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 0 0 5px var(--gray);
}
button:hover {
    background-color: var(--mid-light-blue);
}
button:active {
    transform: scale(0.9);
}
.icon {
    background-color: transparent;
    color: var(--mid-blue);
    box-shadow: none;
}
.icon:hover {
    background-color: transparent;
    color: var(--mid-light-blue);
}

.dashboard {
    background-image:
        linear-gradient(to bottom, #c1d6fff0, #709bf0c0, #709bf0d0),
        url('../assets/hydrangea-sunrays.jpg');
    }
.rsvp {
    background-image:
    linear-gradient(to bottom, var(--white-blue), #3661b7a0),
    url('../assets/blue-hydrangea-above.jpg');
}
.styles {
    background-image:
        linear-gradient(to bottom, #c1d6fff0, #709bf0c0, #709bf0d0),
        url('../assets/tucson-downtown.jpg');
}
.home {
    background-image:
        linear-gradient(to bottom, #c1d6fff0, #709bff00),
        url('../assets/tucson-twilight.jpg');
}